
@font-face {
    font-family: 'Dooodleista';
    src: url('fonts/Dooodleista.ttf');
}


form{
    font-family: "Dooodleista";
    font-size: 143%;
    color: rgb(9, 52, 74);
    font-weight: bold;
    }

#nome{
    width: 90%;
}

#txt_nome{
    padding-left: 3.3%;
}

#email{
    width: 64.8%;
}

#txt_email{
    padding-left: 2.67%;
}

#telefone{
    width: 15%;
}

#txt_telefone{
    padding-left: 4.5%;
}

#txt_cep{
    padding-left: 3.9%;
}

#rua{
    width: 40%;
}

#cidade{
    width: 28%;
}

#mensagem{
    width: 90%;
    height: 15%;
}

#txt_mensagem{
    padding-left: 1.5%;
}

.box_mensagem{
    vertical-align: middle;
}